
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create a Team</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                 class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
      </div>                    <!-- Content Row -->

      <!-- Content Row -->
      <div class="row">

        <!-- Content Column -->
        <div class="col-lg-12 marBot20">

          <!-- Project Card Example -->
          <div class="card shadow">


            <div class="card-body">

              <form class="createHack" [formGroup]="form">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" id="exampleFirstName"
                           placeholder="Team Name" formControlName = "name">
                    <div *ngIf="name && name.pending">Validating...</div>
                    <div *ngIf="name && name.invalid" class="alert alert-danger alter-ego-errors">
                      <div *ngIf="name && name.errors?.uniqueAlterEgo">
                        Team Name Not Available.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="custom-file mb-3 mb-sm-0">
                      <input type="file" class="form-control custom-file-input" id="customFile" name="filename">
                      <label class="custom-file-label" for="customFile">Upload a Team image</label>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <!--<input type="email" class="form-control" id="exampleInputEmail"
                      placeholder="Select Team Members">-->
                  <div>
                    <ng-multiselect-dropdown
                      formControlName="city"
                      [placeholder]="'Select Team Members'"
                      [settings]="dropdownSettings"
                      [data]="cities"
                      [disabled]="disabled"
                      name="city"
                      (onSelect)="onItemSelect($event)">
                    </ng-multiselect-dropdown>

                  </div>
                </div>

                <div class="alert alert-success form-group row" *ngIf="status == '200'" role="alert">
                  Successfully Created {{data.name}} Hackathon
                </div>
                <div class="alert alert-danger form-group row" *ngIf="status == 'error'" role="alert">
                  Failed to Create {{data.name}} Hackathon
                </div>

                <div class="form-group row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-2">
                    <button class="btn btn-secondary btn-block" (click)="onReset()">Reset Team</button>
                  </div>
                  <div class="col-sm-2">

                    <button class="btn btn-primary btn-block" (click)="onSubmit()">Create Team</button>
                  </div>

                </div>



              </form>

            </div>

          </div>





        </div>


      </div>



