<!-- Content Row -->
<div class="row">

  <!-- Current hack -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Current Hackathon
            </div>
            <p class="text-gray-800">Ends in {{days}} Days</p>
            <a href="#" class="viewMore">View Details <i class="fa fa-angle-right"></i></a>
            <!--<div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                </div>
                <div class="col">
                    <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar"
                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>-->
          </div>
          <div class="col-auto">
            <i class="fas fa-project-diagram fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- previous -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              &#123;code&#125; Hackathon 2020 </div>
            <p class="text-gray-800"><strong>{{allHackathons}}</strong></p>
            <a href="#" class="viewMore">View Details <i class="fa fa-angle-right"></i></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Upcoming hack -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Current Idea Submitted</div>
            <p class="text-gray-800"><strong>{{currentIdeas}}</strong></p>
            <a href="#" class="viewMore">View Details <i class="fa fa-angle-right"></i></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-lightbulb fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Cards -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Previous Hackathon Winner</div>
            <p class="text-gray-800">{{prevWinningTeam}}</p>
            <a [routerLink]="['/hack-page', prevHack]" class="viewMore">View Details <i class="fa fa-angle-right"></i></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-trophy fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->
