<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-12 marBot20">

    <!-- Project Card Example -->
    <div class="card shadow">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Current Hackathon Idea Details</h6>
      </div>

      <div class="card-body">
        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
          <thead>
          <tr>
            <th><strong>Team Name</strong></th>

            <th><strong>Idea Name</strong></th>
            <th><strong>Status</strong></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let team of tableData">
            <td>
              <a href="#">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-green mr-3">{{team.initials}}</div>

                  <div class="">
                    <p class="font-weight-bold mb-0">{{team.name}}</p>
                    <p class="text-muted mb-0">{{team.members}}</p>
                  </div>
                </div>
              </a>
            </td>
            <td>{{team.idea}}</td>
            <td>
              <div *ngIf="team.submitted" class="badge badge-success badge-success-alt">Submitted</div>
              <div *ngIf="!team.submitted" class="badge badge-success badge-warning">Not Submitted</div>
            </td>

          </tr>




          </tbody>
        </table>



      </div>

    </div>





  </div>


</div>
