<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-12 marBot20">

    <!-- Project Card Example -->
    <div class="card shadow">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Upcoming Hackathon Idea Details</h6>
      </div>

      <div class="card-body">
        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
          <thead>
          <tr>
            <th><strong>Team Name</strong></th>

            <th><strong>Idea Name</strong></th>
            <th><strong>Submitted Date</strong></th>
            <th><strong>Status</strong></th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <a href="#">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-green mr-3">BB</div>

                  <div class="">
                    <p class="font-weight-bold mb-0">Binary Bosses 3</p>
                    <p class="text-muted mb-0">Chira, Jayajit, Jazz, Anil</p>
                  </div>
                </div>
              </a>
            </td>
            <td>AWS Dashboard</td>
            <td>March21, 2021</td>
            <td>
              <div class="badge badge-success badge-success-alt">Submitted</div>
            </td>

          </tr>

          <tr>
            <td>
              <a href="#">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-blue mr-3">CC</div>

                  <div class="">
                    <p class="font-weight-bold mb-0">Mr. Bro Code Clan team</p>
                    <p class="text-muted mb-0">Virat, Sudheer, Rajiv</p>
                  </div>
                </div>
              </a>
            </td>
            <td>Idea3</td>
            <td>March20, 2021</td>
            <td>
              <div class="badge badge-success badge-warning">Under Review</div>
            </td>

          </tr>

          <tr>
            <td>
              <a href="#">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-pink mr-3">CH</div>

                  <div class="">
                    <p class="font-weight-bold mb-0">Code Her Thing </p>
                    <p class="text-muted mb-0">Yashika, Sandya, Sruja, Abhishek</p>
                  </div>
                </div>
              </a>
            </td>
            <td>AWS Pricing2</td>
            <td>March10, 2021</td>
            <td>
              <div class="badge badge-success badge-success-alt">Submitted</div>
            </td>

          </tr>

          <tr>
            <td>
              <a href="#">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-blue mr-3">SV</div>

                  <div class="">
                    <p class="font-weight-bold mb-0">The Still Variables </p>
                    <p class="text-muted mb-0">Kevin, Dinesh, Shri, Philip</p>
                  </div>
                </div>
              </a>
            </td>
            <td>Idea Name2</td>
            <td>March10, 2021</td>
            <td>
              <div class="badge badge-success badge-success-alt">Submitted</div>
            </td>

          </tr>



          </tbody>
        </table>

        <div class="row">
          <div class="col-sm-6">
            <p class="text-left smalTxt padTop8 marTop15">Showing 1 to 25 of <strong>100 entries</strong></p>
          </div>
          <div class="col-sm-6">
            <ul class="pagination pagination-sm justify-content-end">
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>





  </div>


</div>
